:root {
  font-family: 'Roboto', 'Arial','Helvetica',sans-serif;
  font-weight: 300;
  line-height: 1.6;

  color-scheme: dark light;
  background-color: #1e1e1e;
  color: rgba(255, 255, 255, 0.9);

  text-rendering: optimizeSpeed;
  font-synthesis: weight style;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}

a {
  color: #FF6347;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  color: #FF4500;
}

body {
  display: flex;
  min-height: 100vh;
  min-width: 320px;
  place-items: center;
  margin: 0;
}

h1 {
  font-size: 2.8em;
  line-height: 1.2;
}

button {
  background-color: #333333;
  border: 1px solid transparent;
  border-radius: 12px;
  cursor: pointer;
  font-family: 'Courier New', monospace;
  font-size: 1.1em;
  font-weight: 600;
  padding: 0.7em 1.4em;
  transition: border-color 0.3s;
}

button:hover {
  border-color: #FF6347;
}

button:focus,
button:focus-visible {
  outline: 3px solid -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #fafafa;
    color: #1c1c1c;
  }

  a:hover {
    color: #ff7f50;
  }

  button {
    background-color: #ececec;
  }
}
